@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	padding: 0px;
	margin: 0px;
	border: none;
}


*,
*::before,
*::after {
	box-sizing: border-box;
    font-family: Inter;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

button {
    box-shadow: 0px 0px 42px -7px rgb(0 0 0 / 0%);
    &:hover {
        box-shadow: 0px 0px 42px -7px rgb(0 0 0 / 40%);
        background-color: darken(white, 5%) !important;
        transition: box-shadow 0.07s ease-in;
    }
}

body {color: white;}
body {
    background-color: #ddb442;
}
input{color: white;}



.container {
    max-width: 1250px;
    min-height: 600px;
    margin: 165px auto;
    display: flex;
    border-radius: 25px;
    padding: 25px;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #FECD45;
}

.create-stopwatch {
    margin-top: 25px;
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
        width: 50px;
        height: 50px;
        background-color: #ffffff;
    }
}
.stopwatch {
    margin-top: 25px;
    width: 250px;
    height: 250px;
    background-color: #e15241;
    border-radius: 35px;
    display: flex;
    padding: 25px;
    flex-direction: column;
    justify-content: space-between;

    .stopwatch-title {
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 5px;
        outline: none;
        font-size: 24px;
        max-width: 75%;
        font-weight: 500;
        color: white !important;
    }

    button {
        background-color: white;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .close__button {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        font-weight: 900;
        font-size: 24px;
    }

    h2 {
        font-size: 48px;
        text-align: center;
        font-weight: 500;
    }

    .top-side {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .buttom-side {
        display: flex;
        justify-content: space-between;
    }
    .button-image {
        width: 50%;
        height: 50%;
    }
}


.modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.335);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    width: 500px;
    height: 500px;
    position: fixed;
    border-radius: 25px;
    padding: 25px;

    .modal-inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            outline: none;
            height: 25px;
            width: 50%;
            color: black;
        }
    }
}

.none {
    display: none;
}

.stopwatch-modal {
    width: 100%;
    height: 100%;
    input {
        min-width: 80%;
        min-height: 40px;
        padding: 5px;
    }
}


.check-side {
    display: flex;
    justify-content: flex-end !important;
}
.color-input {
    width: 50px !important;
    height: 50px !important;
    background-color: #e15241;
}
.color-pick-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}